<ion-nav-bar class="bar-positive">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-title>Home</ion-nav-title>
	<ion-nav-buttons side="right">
		<a href="#/order" class="button icon-right button-icon icon ion-ios-cart-outline"></a>
	</ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view>
	<ion-view view-title="Home">
		<ion-content class="has-header">
			<main class="content padding">
				<div class="card">
				  <div class="item item-text-wrap">
				   <h2>Welcome back {{ user }}!</h2>
				  </div>
				</div>
				<div class="list card">
				  <a href="#/books" class="item item-icon-left">
				    <i class="icon ion-ios-book-outline"></i>
				    Books list 
				  </a>
				  <a href="#/order" class="item item-icon-left">
				    <i class="icon ion-ios-cart-outline"></i>
				    My order <span class="badge">{{ orderTotal | currency}}</span>
				  </a>
				  <a href="#" ng-click="logOut()" class="item item-icon-left">
				    <i class="icon ion-ios-upload-outline"></i>
				    Logout
				  </a>
				</div>
			</main>
		</ion-content>
	</ion-view>
</ion-nav-view>