<ion-nav-bar class="bar-positive">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-title>My shopping cart</ion-nav-title>
	<ion-nav-buttons side="right">
		<a href="#/order" class="button icon-right button-icon icon ion-ios-cart-outline">
			<i ng-if="quantity > 0">({{ quantity | number }})</i>
		</a>
	</ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view>
	<ion-view view-title="My order">
		<ion-content class="has-header">
			<main class="content padding">
				<div class="card" ng-if="lineItems.length">
					<div class="item item-divider">
						<div class="row">
							<div class="col-25">Quantity</div>
							<div class="col-25">Book title</div>
							<div class="col-25 align-right">Price</div>
						</div>
					</div>
					<div class="item item-text-wrap" ng-repeat="item in lineItems">
						<div class="row">
							<div class="col-25">
								<a class="button button-calm button-small ion-minus-circled" ng-click="removeQuantity($index)" ng-if="item.quantity > 1"></a>
								{{ item.quantity | number }}
								<a class="button button-calm button-small ion-plus-circled" ng-click="addQuantity($index)"></a>
								</div>
							<div class="col-25">{{ item.title }}</div>
							<div class="col-25 align-right">{{ item.price * item.quantity | currency }}</div>
							<div class="col-25 align-right">
							<button class="button button-assertive button-small icon ion-ios-trash-outline" ng-click="removeLineItem(item.id)"></button>
							</div>
							<div class="col"></div>
						</div>
					</div>
				</div>
				<div class="card" ng-if="!lineItems.length">
					<div class="item item-text-wrap">There are no books in your shopping cart yet</div>
				</div>
				<div class="card" ng-if="lineItems.length">
					<div class="item item-divider align-right">Order total</div>
					<div class="item item-text-wrap align-right">{{ orderTotal() | currency }}</div>
				</div>
				<button class="button button-calm pull-right" ng-if="lineItems.length">Next</button>
			</main>
		</ion-content>
	</ion-view>
</ion-nav-view>