// Custom styles for MyBooks

.price .inner {
    padding: 1em;
    font-size: 16px;
    border-radius: 100px;
    background: $assertive;
    color: #fff;
    display: inline-block;
}

.alerts {
    background: $balanced;
    padding: 1em;
    color: #fff;

    p {
        margin: 0;
    }
}

.book-select {
    background: #f7f7f7;
}

// Utility

.padding-extra {
    padding: 3em 1.5em;
}

.align-right {
    text-align: right;
}

.pull-right {
    float: right;
}